body {
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.Header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 900px; 
    margin: 20px auto 0 auto;

}

#logo {
    width: 225px;
}

.Links {
    display: flex;
    column-gap: 20px;
    align-items: center;
    font-family: JetBrains Mono;
    font-size: 13px;
    font-weight: lighter;
}

.btn {

    background-image: linear-gradient(to top right, #FF4CED , #9B6DFF, #5C11FF);
padding: 8px;
border-radius: 5px;

}

.heroSection {
    display: flex;
    margin: 50px 0 0 200px;
}

.text {
    font-family: Joan;
}

#bigTxt {
    font-size: 65px;
    background: linear-gradient(to top right, #5C11FF , #FFBA9C, #FF4CED);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.elite {
    font-size: 65px;
}

#txt {
    
    font-size: 25px;
    font-weight: normal;
    margin: 0 0 0 12px;
}



.button {
    
    background: none;
    padding: 5px 10px 5px 10px;
    border-radius: 10px;

    border: 10px solid;
    border-image-slice: 1;
    border-width: 2px;
    border-image-source: linear-gradient(to left, #743ad5, #d53a9d);
   
}